@model HSC_Report3.HSC_Record

@{
    ViewBag.Title = "Receive with request form data";
}

<h2>Report</h2>


<div>
    <h4>@Html.DisplayFor(model => model.FirstName)&nbsp;&nbsp;@Html.DisplayFor(model => model.LasttName) HSC Report</h4>
    <hr />
    <dl class="dl-vertical">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.LasttName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LasttName)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Math)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Math)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.English)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.English)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Physics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Physics)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Chemistry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chemistry)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Computer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Computer)
        </dd>
        <hr id="hr" />
    </dl>
</div>
<strong>Percentage:      </strong>@ViewBag.Average%
<br />
<strong>Result:      </strong>@ViewBag.Pass
<br />
<br />
<div>
    <input  type="button" value="Print" id="btn-print" />
</div>
